<h1>Ruby Inspector demo rails app</h1>

<%= link_to('Make a get request', request_get_path) %>
<%= link_to('Make a post request', request_post_path) %>
<%= link_to('Make a put request', request_put_path) %>
